.button__light-blue {
    border: none;
    background-color: #5ec0d8;
    color: white;
    height: 30px;
    width: 70px;
    font-size: 15px;
}

.button__pink {
    border: none;
    background-color: #e67b92;
    color: white;
    height: 30px;
    width: 70px;
    font-size: 15px;
}