.section {
    border: 1px solid rgb(189, 188, 188);
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    &--image {
        height: 70px;
        width: 70px;
        border-radius: 100%;
    }
    &--text p {
        color: #7c7c7c;
    }
}

@media only screen and (max-width: 576px) {
    .user {
        justify-content: center;
    }
    .user__interaction {
        display: none;
    }

}